<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Participações do estudante')}"></head>
<body>
    <header th:replace="~{layout :: header()}"></header>

    <section class="px-sm-5 px-4" th:if="${not #lists.isEmpty(studentParticipations)}">
        <p>Olá, <span th:text="${studentParticipations.get(0).getStudent().getName()}"></span></p>

        <main>
            <h1 class="h3">Minhas participações</h1>
            <div class="list-group">
                <a th:each="studentParticipation : ${studentParticipations}"
                   href="#"
                   class="list-group-item list-group-item-action"
                >
                    <i class="bi bi-calendar-event me-2"></i>
                    <span th:text="${studentParticipation.getApplication().getSelection().getEdition().getProject().getName()}"></span>
                    <span> - </span>
                    <span th:text="${#temporals.format(studentParticipation.getStartDate(), 'dd/MM/yyyy')}"></span>
                    <span> a </span>
                    <span th:if="${studentParticipation.getEndDate()} != null"
                          th:text="${#temporals.format(studentParticipation.getEndDate(), 'dd/MM/yyyy')}"></span>
                    <span th:if="${studentParticipation.getEndDate()} == null">Atual</span>
                    <span> - </span>
                    <span th:text="${studentParticipation.getStudentParticipationType().getName()}"></span>
                </a>
            </div>
        </main>
    </section>
</body>
</html>